:root{
    background-color: white
}
body{
font-family: 'Times New Roman', Times, serif;
}
.Container{
    display:grid;
    place-items:center;
    height: 100vh;
}
.box
{
    background-color: rgb(183, 229, 183);
    width:450px;
    height: 850px;
    padding: 20px;
}
h1{
    font-weight: 500;
    font-size: 20px;
}
h2{
    font-weight: 400;
    font-size: 24px;
}
h3{
    font-weight: 400;
    font-size: 20px;
}
.box_upper,.balance{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.balance{
    margin-top: 10px;
}








